/votacion/nbproject/private/
/votaciones/nbproject/private/
/votaciones/build/
/votaciones/dist/
/Bibliotecas11/json java/jsonlib/build/
/Bibliotecas11/json java/jsonlib/dist/
/Bibliotecas11/json java/jsonlib/nbproject/private/
/Bibliotecas11/jsonlib/build/
/Bibliotecas11/jsonlib/dist/
/Bibliotecas11/jsonlib/nbproject/private/
/Bibliotecas11/simpledblib/build/
/Bibliotecas11/simpledblib/dist/
/Bibliotecas11/simpledblib/nbproject/private/
/Version Actual/votaciones/nbproject/private/
/Version Actual/votaciones/build/
/Version Actual/votaciones/dist/