<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServicioLoginI</servlet-name>
        <servlet-class>Servicios.ServicioLoginA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLoginU</servlet-name>
        <servlet-class>Servicios.ServicioLoginU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLA</servlet-name>
        <servlet-class>Servicios.SLA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicioXML</servlet-name>
        <servlet-class>Servicios.servicioXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLogout</servlet-name>
        <servlet-class>Servicios.ServicioLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioImagenPartido</servlet-name>
        <servlet-class>Servicios.ServicioImagenPartido</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>ServicioCreaciondePartido</servlet-name>
        <servlet-class>Servicios.ServicioCreaciondePartido</servlet-class>

        <servlet-name>ServicioListarUsuarios</servlet-name>
        <servlet-class>Servicios.ServicioListarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioListarPartidos</servlet-name>
        <servlet-class>Servicios.ServicioListarPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioAgregarPostulante</servlet-name>
        <servlet-class>Servicios.ServicioAgregarPostulante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioListarUsuario</servlet-name>
        <servlet-class>Servicios.ServicioListarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicioLoginI</servlet-name>
        <url-pattern>/ServicioLoginI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLoginU</servlet-name>
        <url-pattern>/ServicioLoginU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLA</servlet-name>
        <url-pattern>/SLA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicioXML</servlet-name>
        <url-pattern>/servicioXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLogout</servlet-name>
        <url-pattern>/ServicioLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioImagenPartido</servlet-name>
        <url-pattern>/ServicioImagenPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>ServicioCreaciondePartido</servlet-name>
        <url-pattern>/ServicioCreaciondePartido</url-pattern>

        <servlet-name>ServicioListarUsuarios</servlet-name>
        <url-pattern>/ServicioListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioListarPartidos</servlet-name>
        <url-pattern>/ServicioListarPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioAgregarPostulante</servlet-name>
        <url-pattern>/ServicioAgregarPostulante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioListarUsuario</servlet-name>
        <url-pattern>/ServicioListarUsuario</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
